body {
    background-color: white;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}



nav ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    border-radius: 2em;
    color: slateblue;
    padding: 0.1em
}

 
ul li a {
    text-decoration: none;
    padding: 0.5em; 
    border: 0.1em solid black;
    border-radius: 1em;
}

ul li a:hover {
    background-color: thistle;
    transform: scale(1);
}





h1 {
    text-align: center;
}

h2 {
    display: flex;
    align-items: center;
    justify-content: center;
}




body.index img {
    width: 75%;
    height: 70vh;
    display: block;
    margin: 1em auto;
}






.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; 
}

figure {
    margin: 10px;
    text-align: center; 
}

figcaption {
    margin-top: 5px;
}




.beginners h1, h2{
    border-bottom: 0.1em solid black;
}

body.beginners img{
    width: 60%;
    height: 50vh;
    display: block;
    margin: 2em auto;
}

main .beginners{
    display: flex;
    justify-content: center; 
    align-items: center;
    height: 100vh;
}



    







.contact h2{
    font-size: medium;
}

.contact main {
    background-color: seashell;
}

.contact p {
    text-align: center;
}

.contact main {
    border: 2px solid black;
    border-radius: 2em;
    margin: 4em;
    font-size: medium;
    padding: 0.5em;
}

div.form {
    display: table-row;
}

label,
input {
    display: table-cell;
    margin-bottom: 2em;
}

label {
    padding-right: 2em;
}


footer {
    color: blue;
   text-align: center;
    font-size: small;
    margin: 2em;
  
}

footer a {
    display: block;
    margin-bottom: 1em;

}


