body {
    background-color: white;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}




nav ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    border-radius: 2em;
    color: slateblue
}


ul li {
    display: inline-block;
    margin: 0.5em;
}


ul li a {
    text-decoration: none;
    padding: 0.5em;
    border: 2px solid black;
    border-radius: 5em;
}


ul li a:hover {
    background-color: thistle; 
    padding: 1em;
    transform: scale(1);
}





h1 {
    text-align: center;
}

h2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

p {
    display: flex;
    align-items: center;
    justify-content: center;
}





body.index img {
    width: 75%;
    height: 30em;
    display: block;
    margin: 10px auto;
}


main.gallery section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

section div {
    width: 50%;
    margin-bottom: 20px;
}

section img {
    width: 40%;
    height: auto;
}

section h2 {
    text-align: center
}


.gallery main div {
    display: block;
    border: 1em solid black;
    text-align: center;
    padding: 0.1em;
    width: 100%;
}






.beginners h2 {
    border: 2px solid black;
    background-color: aliceblue;
    padding: 0.1em;
    width: 100%;
}

.beginners main {
    border: 2px solid black;
    background-color: rgb(255, 255, 255);
    padding: 0.5em;
}







.contact main {
    border: 2px solid black;
    background-color: rgb(255, 255, 255);
    padding: 1em;
}

.contact h3 {
    border: 2px solid rgb(0, 0, 0);
    padding: 6%;

}
.contact h4 {
    padding: 0.4em;
    text-align: center;
    border: 2px solid black;
    border-radius: 4em
}

